body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, a:active {
  color: #dddddd;
}

a:hover {
  color: #aaaaaa;
}



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
